.break-sec {
	text-align: center;
}

.work-sec {
	text-align: center;
}

#timer {
	border-radius: 50%;
	border-style: solid;
	width: 200px;
	height: 200px;
	overflow: hidden;
	color: black;
	position: relative;
}

.content {
	z-index: 9;
	position: relative;
	padding-top: 50%;
	text-align: center;
}

.inner {
	width: 100%;
	height: 0px;
	background: red;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
